body {
	background: radial-gradient(circle, white, lightblue);
}

h1 {
	color: blue;
	text-align: center;
	font-size: 80px;
}
img {
	text-align: center;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	opacity: 75%;
}